@import "tailwindcss";

html {
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navHide {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

#navHide.showNav {
  height: 100vh;
}

.h1-main {
  @apply text-xl  md:text-3xl lg:text-4xl xl:text-5xl font-extrabold;
}
.p-main {
  @apply text-sm text-gray-500 md:text-sm lg:text-lg;
}

section {
  padding-top: 3rem;
}

@media (min-width: 768px) {
  section {
    padding-top: 6rem;
  }
}
